<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bench BnB</title>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authToken">
  </head>
  <body>
    <div id="content"/>


  </body>
</html>
